body{
    width: 1440px;
    height: 1440px;
    background-color: hsl(30, 54%, 90%);
}
#global_section{
    background-color: hsl(0, 0%, 100%);
    width: 65%;
    border-radius: 2%;
    position: absolute;
    margin-top: 10%;
    padding-bottom: 3%;
    transform: translateX(50%);
}
img{
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 4%;
    border-radius: 2%;
    width: 90%;
}
section{
    margin-left: 5%;
}
#first_span{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
    font-weight: 600;
}
hr{
    margin-left: 5%;
}
#Preparation_time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 2%;
    width: 90%;
    height: 12%;
    padding-left: 1.7%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    line-height: 180%;
}
#first_ul{
    padding-left: 3.5%;
    color: hsl(332, 51%, 32%);
}
#first_list{
    padding-left: 2.4%;
}
#Preparation_time_title{
    color: hsl(332, 51%, 32%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}
p{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
    font-size: 15px;
    line-height: 160%;
}
#second_span{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
}
#Ingredients{
    line-height: 180%;
}
#second_ul{
    padding-left: 1.8%;
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
}
#second_list{
    padding-left: 1.1%;
}
#sec_span{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
}
#Instructions{
    line-height: 180%;
}
ol{
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
}
#first_ol_span{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
    font-weight: 600;  
}
#second_ol_span
{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
}
#values_section{
    line-height: 180%;
}
td{
    padding-right: 200px;
}
#titre_name{
    color: hsl(30, 10%, 34%);
    font-family: Outfit;
}
h1{
    font-weight: 700;
    margin-left: 5%;
    font-size: 43px;
    color: hsl(24, 5%, 18%);
    font-family: 'Young Serif';
}
h2{
    font-weight: 400;
    font-family: 'Young Serif';
    font-size: 25px;
}
#hr{
    width: 90%;
    margin: 0;
}
h2, #values1, #values2, #values3, #values4{
    color: hsl(14, 45%, 36%);
}
#values1{
    padding-left: 33%;
}
#values2{
    padding-left: 35%;
}
#values3{
    padding-left: 34%;
}
#values4{
    padding-left: 37%;
}